<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#coursemodel">Add course</a>
    </div>
  </div>
  <h2>Courses</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm" id="courses_tbl">
      <thead>
        <tr>
          <th>#</th>
          <th>Course</th>    
          <th>Sem</th>  
          <th>Download</th>          
        </tr>
      </thead>
      <tbody>
           
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="coursemodel" tabindex="-1" role="dialog" aria-labelledby="coursemodel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="coursemodel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="c_form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="c_name">Name</label>
                            <input type="text" name="c_name" class="form-control" id="c_name" placeholder="" value="" required>                        
                        </div>    
                        <div class="col-md-6 mb-3">
                          <label for="c_name">semesters</label>
                          <input type="number" name="c_semesters" min=1 class="form-control" id="c_semesters" placeholder="" value="" required>                        
                      </div>                 
                    </div>       
                    <button type="submit" class="btn btn-primary"  >Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>               
            </div>
      </div>
    </div>
</div>
  <script>
    $.when($.req(base_url+"courses")).then(function(qs){      
      var ht="";
        $.each(qs,function(i,e){
            ht+="<tr>";
            ht+="<td>"+(i+1)+"</td>";
            ht+="<td>"+e.c_name+"</td>";
            ht+="<td>"+e.c_semesters+"</td>";   
            ht+="<td><a class='btn btn-success btn-sm' onclick='excel()'>Download Excel</a></td>";           
            ht+="</tr>";
        });
        $("#courses_tbl tbody").html(ht);
    });  
    $('#c_form').on("submit",function(e){
        e.preventDefault();        
        $.when($.req(base_url+"addCourse",$('#c_form').serializeArray())).then(function(qs){
            $('#c_form')[0].reset();           
            $('#coursemodel').modal('hide');            
            var ht="";
        $.each(qs,function(i,e){
            ht+="<tr>";
            ht+="<td>"+(i+1)+"</td>";
            ht+="<td>"+e.c_name+"</td>";
            ht+="<td>"+e.c_semesters+"</td>";  
            ht+="<td><a class='btn btn-success btn-sm' onclick='excel()'>Download Excel</a></td>";            
            ht+="</tr>";
        });
        $("#courses_tbl tbody").html(ht);
        });
    });
    function excel(){
      window.open(base_url+"excel");
    }
  </script>