<style>
  html,
body {
height: 100%;
}

body {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;
}

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.form-signin .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
  </style>
<form class="form-signin" id="login_form">  
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <div class="alert alert-danger hide" role="alert" id="loginerr">
    Username/password is incorrect
  </div>  
  <label for="username" class="sr-only">Email address</label>
  <input type="text" id="username" class="form-control" placeholder="User" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
 
</form>
<script>
  $.getScript("assets/js/login.js");
</script>

