<div id="printqp">
    <div class="text-center">
        Exam
        <div id="e_course"></div>
        <div id="e_year"></div>
        <div id="e_sem"></div>
        <div id="e_inc"></div>
        <div id="e_date"></div>
        <div id="e_time"></div>  
    </div>
    <table class="table table-striped table-sm" id="p_table">   
        <thead></thead>
        <tbody>                
        </tbody>
    </table>
</div>
<a class="btn btn-primary" onclick="printqp()">Print</a>
<script>
    $.when($.req(base_url+"print/"+qpid)).then(function(data){ 
        $("#e_year").text(data.qp.qp_year);   
        $("#e_course").text(data.qp.c_name);
        $("#e_sem").text("Semester "+data.qp.qp_sem);
        $("#e_inc").text(data.qp.qp_incharge);
        $("#e_date").text(data.qp.qp_date);
        $("#e_time").text(data.qp.qp_start+"-"+data.qp.qp_end);
        var ht="";  
        $.each(data.qs,function(i,e){
            ht+="<tr>";    
            ht+="<td>"+(i+1)+")</td>";
            ht+="<td>"+e.q_question+"</td>";  
            ht+="<td>("+e.q_max+")</td>";         
            ht+="</tr>";
        });
        $("#p_table tbody").html(ht);
    }); 
    function printqp() {
        var pc =$('#printqp').html(); 
        w=window.open();
        w.document.write(pc);
        w.print();      
    }
</script>