<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
     <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>       
      </div>     
    </div>
  </div>
  <h2>Question papers</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm" id="qp_table">
      <thead>
        <tr>        
            <th>#</th>  
            <th>Course</th>
            <th>Sem</th>
            <th>Date</th>
            <th>View </th>
            <th>Print</th>
        </tr>
      </thead>
      <tbody>                
      </tbody>
    </table>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="qp_form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="year">Year</label>
                            <input type="number" name="qp_year" class="form-control" id="year" placeholder="" value="" required>                        
                        </div>                    
                    </div>  
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="course">Course</label>
                            <select class="custom-select d-block w-100" name="qp_course" id="course" required>                           
                            </select>                         
                        </div> 
                        <div class="col-md-6 mb-3">
                            <label for="class">class</label>
                            <select class="custom-select d-block w-100" name="qp_sem" id="class" required>    
                                <option value=''>Select</option>                            
                            </select>                           
                        </div>                                             
                    </div>     
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="mode">Mode</label>
                            <select class="custom-select d-block w-100" name="qp_mode" id="mode" required>      
                                <option value="">Select</option>    
                                <option value="Written">Written</option>    
                                <option value="Online">Online</option>    
                            </select>                           
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="type">Type</label>
                            <select class="custom-select d-block w-100"  name="qp_type" id="type" required>   
                                <option value="">Select</option>    
                                <option value="Internal">Internal</option>    
                                <option value="External">External</option>                            
                            </select>                         
                        </div>                       
                    </div>     
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="fee">Fee</label>
                            <input type="number" step="any" class="form-control" name="qp_fee" id="fee" placeholder="" value="" required>                        
                        </div>                    
                    </div>  
                    <div class="row">
                        <div class="col-md-63 mb-3">
                            <label for="date">Date</label>
                            <input type="date" class="form-control"  name="qp_date" id="date" placeholder="" value="" required>                        
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="starttime">Start Time</label>
                            <input type="time" class="form-control" name="qp_start" id="starttime" placeholder="" value="" required>                       
                        </div>  
                        <div class="col-md-3 mb-3">
                            <label for="endtime">End Time</label>
                            <input type="time" class="form-control" name="qp_end" id="endtime" placeholder="" value="" required> 
                        </div>                       
                    </div>   
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="incharge">Incharge</label>
                            <input type="text" class="form-control" name="qp_incharge" id="incharge" placeholder="" value="" required>                        
                        </div>                    
                    </div>    
                    <button type="submit" class="btn btn-primary"  onclick1="saveqp($(this))">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>               
            </div>
      </div>
    </div>
</div>
<script>
    $.getScript("assets/js/qp.js");
</script>