<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
     <div class="btn-group mr-2">
       <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#questionsmodel">Add</button>       
     </div>     
   </div>
 </div>
 <h2>Questions</h2>
 <div class="table-responsive">
   <table class="table table-striped table-sm" id="q_table">
     <thead>
       <tr>        
           <th>#</th>  
           <th>Max mark</th>
           <th>Section</th>
           <th>Question</th>
           <th>Delete </th>
       </tr>
     </thead>
     <tbody>                
     </tbody>
   </table>
 </div>
 <div class="modal fade" id="questionsmodel" tabindex="-1" role="dialog" aria-labelledby="questionsmodel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionsmodel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="q_form">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="year">Max marks</label>
                            <input type="number" name="q_max" class="form-control" min="1" id="q_max" placeholder="" value="" required>                        
                        </div> 
                        <div class="col-md-4 mb-3">
                            <label for="year">Question No</label>
                            <input type="number" name="q_no" class="form-control" id="q_no" placeholder="" value="" required>                        
                        </div> 
                        <div class="col-md-4 mb-3">
                            <label for="mode">Section</label>
                            <select class="custom-select d-block w-100" name="q_section" id="q_section" required>      
                                <option value="">Select</option>    
                                <option value="A">A</option>    
                                <option value="B">B</option>  
                                <option value="C">C</option> 
                                <option value="D">D</option>   
                            </select>                           
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="mode">CO</label>
                            <select class="custom-select d-block w-100" name="q_co" id="q_co" required>      
                                <option value="">Select</option>    
                                <option value="Co1">Co1</option>   
                                <option value="Co2">Co2</option>  
                                <option value="Co3">Co3</option>                                 
                            </select>                           
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="mode">Difficulty/bloom</label>
                            <select class="custom-select d-block w-100" name="q_bloom" id="q_bloom" required>      
                                <option value="">Select</option>    
                                <option value="L1">L1</option>    
                                <option value="L2">L2</option>  
                                <option value="L3">L3</option> 
                                <option value="L4">L4</option>   
                            </select>                           
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="course">Exam Type</label>
                            <select class="custom-select d-block w-100" name="q_examtype" id="q_examtype" required>  
                                <option value="">Select</option>  
                                <option value="Main Exam">Main Exam</option>  
                                <option value="Sub Exam">Sub Exam</option>                             
                            </select>                         
                        </div>                                                                     
                    </div>         
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="course">Question</label>
                            <div id="q_questiondiv"></div>
                            <textarea class="hide" id="q_question" name="q_question"></textarea>
                        </div>
                    </div>              
                    <input type="hidden" name="q_qp" id="q_qp"/>
                    <button type="submit" class="btn btn-primary"  onclick1="saveqst($(this))">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>               
            </div>
      </div>
    </div>
</div>
<script>
    $('#q_qp').val(qpid);
    $('#questionsmodel').off('show.bs.modal');
    $('#questionsmodel').on('show.bs.modal');
    $('<link/>', {
        rel: 'stylesheet',
        type: 'text/css',
        href: 'assets/css/summernote.css'
    }).appendTo('head');
    $.getScript("assets/js/summernote.js",function(){
        $('#q_questiondiv').summernote({
            callbacks: {
                onChange: function(contents, $editable) {
                    $('#q_question').val($('#q_questiondiv').summernote('code'));                                      
                }
            }
        });
    }); 
    $('#q_form').on("submit",function(e){
        e.preventDefault();        
        $.when($.req(base_url+"saveqs",$('#q_form').serializeArray())).then(function(data){
            $('#q_form')[0].reset();
            $('#q_questiondiv').summernote('reset');
            $('#questionsmodel').modal('hide');
            fillqs(data.qs);
        });
    });
    $.when($.req(base_url+"qsdata/"+qpid)).then(function(data){      
        if(data.qs){
            fillqs(data.qs);
        }
    });  
    function fillqs(qs){
        var ht="";
        $.each(qs,function(i,e){
            ht+="<tr>";
            ht+="<td>"+(i+1)+"</td>";
            ht+="<td>"+e.q_max+"</td>";
            ht+="<td>"+e.q_section+"</td>";
            ht+="<td>"+e.q_question+"</td>";
            ht+="<td><a class='btn btn-danger btn-sm' data-qpid='"+e.q_id+"' onclick='delQs($(this))' type='button' >Delete</a></td>";
            ht+="</tr>";
        });
        $("#q_table tbody").html(ht);
    }
    function delQs(t){
        $.when($.req(base_url+"delqp/"+t.data("qpid"))).then(function(data){      
            t.parent().parent().remove();
        });  
    }    
</script>